<!-- <nav>
	<div class="home">
		<h1 class="animated fadeIn name">Jillian Somera</h1>
      <ul class="home-nav">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/about">About</a></li>
      </ul>
	</div>
</nav> -->

<nav>
	<div class="home">
		<h1 class="animated fadeIn name">Jillian Somera</h1>
		<ul class="accordion-tabs">
		  <li class="tab-header-and-content">
		    <a href="/portfolio" class="is-active tab-link">Portfolio</a>
		    <div class="tab-content">
		      <div class="cards">
		        <div class="card">
		          <div class="card-image">
		            <a href="http://kp-official-website.wjtwtpf44i.us-east-2.elasticbeanstalk.com/"><img src="../public/img/kpowb-screenshot.png" alt=""></a>
		          </div>
		          <div class="card-header">
		            <a href="http://kp-official-website.wjtwtpf44i.us-east-2.elasticbeanstalk.com/">Karolina Prus Official Website</a>
		          </div>
		          <div class="card-copy">
		            <p>A website in progress meant to showcase the work of a jazz arranger. Visitors can purchase sheet music, request commissions, or get in contact.
		      			<div class="git-style">
		          		<i class="fa fa-github"></i> <a href="https://github.com/jaerodyne/kp-official-website">View Source Code</a>
		      			</div>
		            </p>
		          </div>
		        </div>

		        <div class="card">
		          <div class="card-image">
		            <a href="https://obscure-meadow-44821.herokuapp.com/"><img src="../public/img/simple-blog-screenshot.png" alt=""></a>
		          </div>
		          <div class="card-header">
		            <a href="https://obscure-meadow-44821.herokuapp.com/">Simple Blog</a>
		          </div>
		          <div class="card-copy">
		            <p>A simple blog app built for easy customization. Users can view blogs, register, and log in to add/edit/delete their own entries and comments.</p>
		      			<div class="git-style">
		          		<i class="fa fa-github"></i> <a href="https://github.com/jaerodyne/jaerodyne-rails-blog">View Source Code</a>
		      			</div>
		          </div>
		        </div>

		        <div class="card">
		          <div class="card-image">
		            <img src="../public/img/unravel-mockup.png" alt="">
		          </div>
		          <div class="card-header">
		            <a href="https://github.com/jaerodyne/unravel-ios">Unravel</a>
		          </div>
		          <div class="card-copy">
		            <p>An iOS app designed to help improve literacy. Our main goal is to introduce reading with a sense of inherent playfulness and hands-on activity.</p>
		      			<div class="git-style">
		          		<i class="fa fa-github"></i><a href="https://github.com/jaerodyne/unravel-ios">View Source Code</a>
		      			</div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </li>
		  <li class="tab-header-and-content">
		    <a href="/skills" class="tab-link">Skills</a>
		    <div class="tab-content">
		      <div class="skills">
		      	<ul class="skills-list">
		      		<li>Ruby</li>
		      		<li>Ruby on Rails</li>
		      		<li>HTML 5/CSS</li>
		      	</ul>
		      	
		      	<ul>
		      		<li>SCSS</li>
		      		<li>Javascript</li>
		      		<li>AJAX</li>
		      	</ul>
		      	
		      	<ul>
		      		<li>jQuery</li>
		      		<li>Swift</li>
		      		<li>SQL/PostgreSQL</li>
		      	</ul>
		      	
		      	<ul>
		      		<li>Git/Github</li> 
		      		<li>Bootstrap/Materialize</li> 
		      		<li>Bourbon/Refills/Neat/Bitters</li>
		      	</ul>
		      	
		      	<ul>
		      		<li>Photoshop/Illustrator</li>
		      		<li>Pair Programming</li>
		      		<li>Agile Methodologies</li>
		      	</ul>

		      	<ul>
		      		<li>RSpec</li>
		      		<li>Test Driven Development Sinatra</li>
		      	</ul>

		      	<div class="modal">
		      	  <label for="modal-1">
		      	    <div class="modal-trigger">Click for Modal</div>
		      	  </label>
		      	  <input class="modal-state" id="modal-1" type="checkbox" />
		      	  <div class="modal-fade-screen">
		      	    <div class="modal-inner">
		      	      <div class="modal-close" for="modal-1"></div>
		      	      <img src="../public/img/resume.png">
		      	    </div>
		      	  </div>
		      	</div>

		    </div>
		  </li>
		  <li class="tab-header-and-content">
		    <a href="/about" class="tab-link">About</a>
		    <div class="tab-content">
		    	<div class="about-content">
		      <div class="side-image">
		        <div class="images-wrapper"></div>
		          <div class="side-image-content">
		            <h4>About</h4>
		            <h1>A short bio</h1>
		            <p>Jillian is a recent Dev Bootcamp graduate who is focused on front-end web and iOS development. She is currently learning React and expanding her iOS knowledge to include Objective-C.</p>
		      			<p>
		      			In her spare time, she plays around Chicago with her band, Jillian Somera and the Beta Option. She also makes people watch her play guitar on her <a href="https://www.youtube.com/user/MiscellaneousJill">Youtube</a> channel. You can find more info about her musical exploits <a href="http://jilliansomera.com"> here. </a>
		      			</p>
		        </div>
		      </div>
		    </div>
		    </div>
		  </li>
		</ul>
	</div>
</nav>