<!-- <nav>
	<div class="home">
		<h1 class="animated fadeIn name">Jillian Somera</h1>
      <ul class="home-nav">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/about">About</a></li>
      </ul>
	</div>
</nav> -->

<nav>
	<div class="home">
		<h1 class="animated fadeIn name">Jillian Somera</h1>
		<ul class="accordion-tabs">
		  <li class="tab-header-and-content">
		    <a href="/portfolio" class="is-active tab-link">Portfolio</a>
		    <div class="tab-content">
		    	<h1 class="portfolio">Web</h1>
		      <div class="cards">

		      	<div class="card">
		          <div class="card-image">
		            <a href="https://s3.amazonaws.com/highs-and-lows/index.html"><img src="../public/img/highs-and-lows.png" alt="No Image Found"></a>
		          </div>
		          <div class="card-header">
		            <a href="https://s3.amazonaws.com/highs-and-lows/index.html">Highs and Lows</a>
		          </div>
		          <div class="card-copy">
		            <p>An interactive website built as exclusive extra content for my band's debut album, Highs and Lows.</p>
		      			<div class="git-style">
		          		<i class="fa fa-github"></i> <a href="https://github.com/jaerodyne/highs-and-lows">View Source Code</a>
		      			</div>
		            </p>
		          </div>
		        </div>

		        <div class="card">
		          <div class="card-image">
		            <a href="http://kp-official-website.wjtwtpf44i.us-east-2.elasticbeanstalk.com/"><img src="../public/img/kpowb-screenshot.png" alt="No Image Found"></a>
		          </div>
		          <div class="card-header">
		            <a href="http://kp-official-website.wjtwtpf44i.us-east-2.elasticbeanstalk.com/">Karolina Prus Official Website</a>
		          </div>
		          <div class="card-copy">
		            <p>A website in progress meant to showcase the work of a jazz arranger. Visitors can purchase sheet music, request commissions, or get in contact.
		      			<div class="git-style">
		          		<i class="fa fa-github"></i> <a href="https://github.com/jaerodyne/kp-official-website">View Source Code</a>
		      			</div>
		            </p>
		          </div>
		        </div>

		        <div class="card">
		          <div class="card-image">
		            <a href="https://obscure-meadow-44821.herokuapp.com/"><img src="../public/img/simple-blog-screenshot.png" alt="No Image Found"></a>
		          </div>
		          <div class="card-header">
		            <a href="https://obscure-meadow-44821.herokuapp.com/">Simple Blog</a>
		          </div>
		          <div class="card-copy">
		            <p>A simple blog app built for easy customization. Users can view blogs, register, and log in to add/edit/delete their own entries and comments.</p>
		      			<div class="git-style">
		          		<i class="fa fa-github"></i> <a href="https://github.com/jaerodyne/jaerodyne-rails-blog">View Source Code</a>
		      			</div>
		          </div>
		        </div>
		      </div>

		      <h1 class="portfolio">Mobile</h1>
					<div class="cards">
		        <div class="card">
		          <div class="card-image">
		            <a href="https://obscure-meadow-44821.herokuapp.com/"><img src="../public/img/simple-blog-screenshot.png" alt="No Image Found"></a>
		          </div>
		          <div class="card-header">
		            <a href="https://github.com/jaerodyne/connections">Connections</a>
		          </div>
		          <div class="card-copy">
		            <p>A contacts app to keep track of your connections and your favorites handy.</p>
		      			<div class="git-style">
		          		<i class="fa fa-github"></i> <a href="https://github.com/jaerodyne/connections">View Source Code</a>
		      			</div>
		          </div>
		        </div>

		        <div class="card">
	            <div class="card-image">
	              <a href="https://github.com/jaerodyne/vimeow-ios"><img src="../public/img/vimeow-logo.png" alt="No Image Found" background-color="white"></a>
	            </div>
	            <div class="card-header">
	              <a href="https://github.com/jaerodyne/vimeow-ios">ViMeow</a>
	            </div>
	            <div class="card-copy">
	              <p>ViMeow is an personal project focused on giving people a daily moment of happiness with cute animal videos pulled from Youtube.</p>
	        			<div class="git-style">
	            		<i class="fa fa-github"></i><a href="https://github.com/jaerodyne/vimeow-ios">View Source Code</a>
	        			</div>
	            </div>
	          </div>

						<div class="card">
		          <div class="card-image">
		            <img src="../public/img/anml-bkgd.png" alt="No Image Found">
		          </div>
		          <div class="card-header">
		            <a href="http://apple.co/2vkZb8Y">ANML</a>
		          </div>
		          <div class="card-copy">
		            <p>A social networking platform focused on nightlife. Users are able to take photos, tag their location, and post them for others to vote on and determine whether they are ANML or not.</p>
		            <div class="git-style">
		          		<a href="http://apple.co/2vkZb8Y">Download on Apple Store</a>
		      			</div>
		          </div>
		        </div>

		        <div class="card">
		          <div class="card-image">
		            <img src="../public/img/looplio.png" alt="No Image Found">
		          </div>
		          <div class="card-header">
		            <a href="https://www.looplio.com/">Looplio</a>
		          </div>
		          <div class="card-copy">
		            <p>A collaborative video editing app complete with a social platform. I was responsible for integrating multiple API integrations for OAuth sign-ins using Facebook, Instagram, Twitter, Google Drive, Dropbox, Youtube, and iCloud. </p>
		          </div>
		        </div>

	          <div class="card">
		          <div class="card-image">
		            <a href="https://github.com/jaerodyne/unravel-ios"><img src="../public/img/unravel-mockup.png" alt="No Image Found"></a>
		          </div>
		          <div class="card-header">
		            <a href="https://github.com/jaerodyne/unravel-ios">Unravel</a>
		          </div>
		          <div class="card-copy">
		            <p>An iOS app designed to help improve literacy. Our main goal is to introduce reading with a sense of inherent playfulness and hands-on activity.</p>
		      			<div class="git-style">
		          		<i class="fa fa-github"></i><a href="https://github.com/jaerodyne/unravel-ios">View Source Code</a>
		      			</div>
		          </div>
		        </div>

		      </div>
		    </div>
		  </li>
		  <li class="tab-header-and-content">
		    <a href="/skills" class="tab-link">Skills</a>
		    <div class="tab-content">
		      <div class="skills">
		      	<h1>Web</h1>
		      	<ul>
		      		<li>React</li>
		      		<li>Redux</li>
		      		<li>Ruby</li>
		      		<li>Ruby on Rails</li>
		      		<li>Sinatra</li>
		      	</ul>
		      	
		      	<ul>
		      		<li>Javascript</li>
		      		<li>jQuery</li>
		      		<li>AJAX</li>
		      	</ul>

		      	<ul>
		      		<li>HTML 5/CSS</li>
		      		<li>SCSS</li>
		      		<li>Bootstrap/Materialize</li> 
		      		<li>Bourbon/Refills/Neat/Bitters</li>
		      	</ul>
		      	
		      	<ul>
		      		<li>SQL/PostgreSQL</li>
		      		<li>Firebase</li>
		      		<li>MongoDB</li>
		      	</ul>
		      </div>

		      <div class="skills">
		      	<h1>Mobile</h1>
	         	<ul>
	         		<li>React-Native</li>
	         		<li>Swift</li>
	         		<li>Objective-C</li>
	         	</ul>
          </div>

	      	<div class="skills">
		      	<h1>Tools/Methodologies</h1>
		      	<ul>
		      		<li>Git/Github</li> 
		      		<li>Pair Programming</li>
		      		<li>Agile</li>
		      		<li>Test Driven Development </li>
		      	</ul>
		      	
		      	<ul>
		      		<li>Photoshop</li>
		      		<li>Illustrator</li>
		      		<li>Sketch</li>
		      	</ul>

		      	<ul>
		      		<li>RSpec</li>
		      		<li>Jasmine</li>
		      	</ul>
	      	</div>

	      	<div class="skills">
		      	<div class="modal">
		      	  <label for="modal-1">
		      	    <div class="modal-trigger">
		      	    	<a href="../public/img/jillian-somera-resume.pdf" download>
			      	    	Download Resume
		      	    	</a>
			      	  </div>
		      	  </label>
		      	</div>

		    </div>

		  </li>
		  <li class="tab-header-and-content">
		    <a href="/about" class="tab-link">About</a>
		    <div class="tab-content">
		    	<div class="about-content">
		      <div class="side-image">
		        <div class="images-wrapper"></div>
		          <div class="side-image-content">
		            <h4>About</h4>
		            <h1>A short bio</h1>
		            <p>
		            	Jillian is a Dev Bootcamp graduate who is focused on front-end web and iOS development. Her
		            	internship and various consulting projects so far have honed her skills in Web and iOS development. Having a background in visual communications and music gives her the advantage of a distinctive view of the flow and rhythm of information in the digital environment.
								</p>
		      			<p>
			      			In her spare time, she plays around Chicago with her band, Jillian Somera and the Beta Option. She play guitars on her <a href="https://www.youtube.com/user/MiscellaneousJill">Youtube</a> channel. You can find more info about her musical exploits <a href="http://jilliansomera.com"> here. </a>
		      			</p>
		        </div>
		      </div>
		    </div>
		    </div>
		  </li>
		</ul>
	</div>
</nav>