// Portfolio Cards
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2em;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.5;
  $card-image-hover-color: #000;

  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;

  .card-image {
    background-color: $card-image-hover-color;
    height: 225px;
    max-height: 225px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    color: black;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      color: black;
      margin: 0 0 ($base-spacing / 2);
    }

    p:focus, p:hover {
      cursor: default;
    }

  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

.git-style {
  text-align: center;
  color: black;
  font-family: $base-font-family;

    a {
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }
}

// About Card
.side-image {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

  background: $side-image-content-background;
    opacity: 0.93;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    background: url("../../public/img/profile.jpg"),
                linear-gradient($side-image-background-top, $side-image-background-bottom),
                no-repeat $side-image-background-top scroll;
    background-color: $side-image-background-top;
    background-size: 300px 600px;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: contain;
      border-right: $side-image-border;
    }
    
    &:hover {
      background-image: url("../../public/img/goofy-profile.png")
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;


    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      margin-bottom: 0.9em;
      color: black;
    }

    h4 {
      background: #BBB;
      color: black;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      // margin-bottom: 1em;
    }
  }

  @include reset-display();
}

// .skills-content {
//   padding-top: 2em;
// }

.about-content {
  padding-top: 2em;
}