body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
  color: white;
  height: 100%;
  width: 100%;
  background-blend-mode:darken;
  background-image: url("../img/we9nuw7tmmk-nadir-balcikli.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}

.home {
  text-align: center;
}

ul.home-nav {
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 24px;
}

.home-nav li {
  float: left;
  padding: 0 auto;
}

.home-nav li a {
  text-align: center;
  padding: 1em;
  color: white;
}

h1.name {
  font-family: sans-serif;
  background-blend-mode: normal;
  background-color: white;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  background: -webkit-linear-gradient(#fff, #fff);
  text-shadow: 2px 2px 4px #84abcf;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 92px;
  margin: 0 auto;
  padding: 2 auto;
}

h2.construction {
  font-family: 'Proza Libre', sans-serif;
  text-transform: uppercase;
  -webkit-animation-duration: 7s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  font-size: 32px;
  width: 400px;
  color: #ccc;
  opacity: 0;
  display: inline-block;
  margin: 0 auto;
}

#separator {
  width: 50%;
}

nav ul, footer ul { 
  font-size: 0.8em; 
  padding: 1em; 
  list-style: none; 
  font-weight: bold; 
  text-align: center;
}

nav ul li, footer ul li { 
  display: inline; 
  margin-right: 20px; 
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 10px;
  height: 10%;
}

a {
  color:#84abcf;
}

/*SKILLS GRID*/

.skills {
  text-align: center;
  padding-top: 1em;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  ul {
    border: solid 1px white;
    background-color: #bbb;
    opacity: 0.8;
  }

  li {
    display: inline;
    list-style-type: none;
  }  
}

button.resume {
  margin-top: 2em;
}

.modal-trigger a {
  color: inherit;
  text-decoration: none;
}

h1.portfolio {
  font-size: 50px; 
  margin-top: 0.5em;
  margin-bottom: 0;
}
