body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
  color: white;
  height: 100%;
  background-color: #444444;
  // background-image: url("../img/sb5yutjybrm-alejandro-garrido-navarro.jpg");
  background-size: 1700px 1000px;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

.bkgd-img {
  position: relative;
  z-index: 1;
}

.bkgd-img::before {
  position: absolute;
  opacity: 0.5;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-image: url("../img/sb5yutjybrm-alejandro-garrido-navarro.jpg");
}

.home {
  text-align: center;
}

ul.home-nav {
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
}

.home-nav li:not(:first-child):before {
    content: " | ";
    color: white;
}

.home-nav li {
  float: left;
  padding: 0 auto;
}

.home-nav li a {
  text-align: center;
  padding: 1em;
  color: white;
}

h1.name {
  font-family: sans-serif;
  background-blend-mode: normal;
  background-color: black;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  background: -webkit-linear-gradient(#fff, #cebc95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 92px;
  margin: 0 auto;
  padding: 0 auto;
}

h2.construction {
  font-family: 'Proza Libre', sans-serif;
  text-transform: uppercase;
  -webkit-animation-duration: 7s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  font-size: 32px;
  width: 400px;
  color: #ccc;
  opacity: 0;
  display: inline-block;
  margin: 0 auto;
}

#separator {
  width: 50%;
}

nav ul, footer ul { 
  font-size: 0.8em; 
  padding: 1em; 
  list-style: none; 
  font-weight: bold; 
  text-align: center;
}

nav ul li, footer ul li { 
  display: inline; 
  margin-right: 20px; 
}

footer {
  width: 100%;
  height: 100%;
  padding: 40px;
}

a {
  color:#84abcf;
}

/*SKILLS GRID*/

.skills {
  text-align: center;
}

.skills li {
  /*text-align: center;*/
  display: inline;
  list-style-type: none;
  /*clearfix: auto;*/
}

.skills li:not(:last-child):after {
    content: " | ";
    color: white;
}

.skills img {
  height: 100px;
  width: 100px;
}

.skills-list li:nth-child(3):after { 
  /*content:"\A"; */
  /*white-space:pre;  */
}

.portfolio-header {
  text-align: center;
}


